fastapi
uvicorn
python-dotenv
transformers
huggingface-hub
faiss-cpu
pyttsx3
langchain==0.1.14
langchain-community==0.0.33
langchain-huggingface==0.0.2 
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers