fastapi
uvicorn
python-dotenv
langchain
transformers
huggingface-hub
faiss-cpu
pyttsx3
langchain_community
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers